<% content_for(:title, "Events | Create") %>
<% content_for(:page_title, "Events / Create") %>

<%= render 'form', event: @event %>

<div class="left-col col-lg-6 d-flex align-items-center">
    <%= link_to 'Back', events_path, class: "btn btn-primary" %>
</div>