
<% if current_user %>
    <% content_for(:title, "Home") %>
    <h2>Home Page</h2>
    <h4>
        <% if current_user.admin %>
            You are logged in as Admin
        <% else %>
            You are logged in as User        
        <% end %>
    </h4>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to 'Sign Up', new_user_registration_path %>
    <%= redirect_to 'Sign In', new_user_session_path %>
<% end %>