        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid" style="height: 15px">
              <div class="row">
                <h2 class="no-margin-bottom active breadcrumb-item"><%= yield(:page_title) %> </h2> &nbsp;
                <%= render 'layouts/alerts' %>
              </div>
            </div>
          </header>
        