<div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"> <%= image_tag('avatar.png', class: "img-fluid rounded-circle", alt: "user_dp", title: "User Profile Image") %></div>
            <div class="title">
              <h1 class="h4"><%= current_user.name %></h1>
              <p><% if current_user.admin %> Admin <% else %> User <% end %></p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">
            <li class="active"><a href="">Home</a></li>
            <li><a href="tables.html">News</a></li>
            <li><a href="charts.html">Events</a></li>
            <li><a href="forms.html">Members</a></li>
          </ul>
        </nav>